{% extends 'base.html' %}

{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Learn more about our shop and values</p>
                </div>
            </div>
        </header>

        <br><br>
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Our Story</h2>
                    <p class="lead fw-normal text-muted mb-0">At De La Finca, we believe in providing the best products sourced directly from local farmers. Our commitment to quality and sustainability is at the heart of everything we do.</p>
                </div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Our Values</h2>
                    <p class="lead fw-normal text-muted mb-0">We value integrity, transparency, and community. By supporting local farmers, we ensure fair trade practices and contribute to the well-being of our community.</p>
                </div>

                <br>
                <br>

                <div class="col-lg-6">
                    <h2 class="fw-bolder">Our Values</h2>
                    <p class="lead fw-normal text-muted mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ipsa itaque quis sint aliquam fuga eveniet architecto molestias, accusantium magnam. Quisquam natus eum adipisci eligendi rem esse vitae deleniti libero.
                    </p>
                </div>

                <div class="col-lg-6">
                    <h2 class="fw-bolder">Our Values</h2>
                    <p class="lead fw-normal text-muted mb-0">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui eveniet neque sapiente sed mollitia recusandae labore beatae cum optio harum facilis earum consectetur, at deleniti numquam ex necessitatibus cumque. Commodi?
                    </p>
                </div>
            </div>
        </div>

{% endblock %}